<!DOCTYPE html>
<html lang="en">

<head>
    <title>Hamburger Delivery</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <script defer type="text/javascript" src="/vue/vue.js"></script>
    <script defer type="text/javascript" src="js/menu.js"></script>
    <script defer type="text/javascript" src="/socket.io/socket.io.js"></script>
    <script defer type="text/javascript" src="js/deli-very.js"></script>
</head>

<body>
    <header>
        <h1>Welcome to BurgerHeaven Online</h1>
    </header>
    <main>
        <section id="burger_menu">
            <h3>Select burger</h3>
            <p>This is where you execute burger selection</p>
            <div style="height: 100%" class="grid_table center">
                <div v-for="(b, index) in burgers">
                    <input type="checkbox" :id="'item' + index" :value="b.name">
                    <label :for="'item' + index" class="cell">
                        <h4>{{b.name}}</h4>
                        <img :src="b.image" :alt="b.name" :title="b.name" height="125px">
                        <ul>
                            <li>{{b.kCal}} kCal</li>
                            <li v-if="b.lactose">Contains <b>lactose</b></li>
                            <li v-if="b.gluten">Contains <b>gluten</b></li>
                        </ul>
                    </label>
                </div>
            </div>
        </section>
        <section id="purchase">
            <h3>Customer Information</h3>
            <p>This is where you provide the necessary information</p>
            <h4>Delivery information:</h4>
            <form @input="formUpdate" id="delivery_form">
                <p>
                    <label for="name">First</label><br>
                    <input type="text" id="name" name="nm" required="required" placeholder="First- and Last name">
                </p>
                <p>
                    <label for="email">E-mail</label><br>
                    <input type="email" id="email" name="em" required="required" placeholder="E-mail address">
                </p>
                <p>
                    <label for="payment_options">Payment options</label><br>
                    <select id="payment_options" name="popt">
                        <option selected="selected">Credit Card</option>
                        <option>Paypal</option>
                        <option>Swish</option>
                        <option>Cash</option>
                    </select>
                </p>
                <p>
                    <label for="gender">Gender</label><br>
                    <input type="radio" name="gender" value="Male">Male<br>
                    <input type="radio" name="gender" value="Female">Female<br>
                    <input type="radio" name="gender" value="Non-binary">Non-binary<br>
                    <input type="radio" name="gender" value="Undisclosed" checked="checked">Undisclosed<br>
                </p>
            </form>
            <p>Please indicate point of delivery:</p>
            <div class="view-box">
                <div id="dots" @click="displayOrder">
                    <div v-for="order in orders" :style="{ left: order.details.x + 'px', top: order.details.y + 'px'}">
                        {{order.orderId}}
                    </div>
                </div>
            </div>
            <button id="purchase_button" @click="purchase_button_pressed"><img src="https://static.thenounproject.com/png/1406661-200.png"
                    alt="" style="height: 1.2rem;">
                Place my order!</button>
            <div id="show_puchase_order">
                <p v-if="isShown == true">
                    Name: {{info.name}}<br>
                    Email: {{info.email}}<br>
                    Deliver to: {{orders[0].details.x.toFixed(2)}} x /
                    {{orders[0].details.y.toFixed(2)}} y<br>
                    Payment: {{info.payment_options}}<br>
                    Gender: {{info.gender}}<br>
                    Burgers: <span v-for="(selectedBurger, index) in selectedBurgers"><span v-if="index != 0">,
                        </span>{{selectedBurger}}</span>
                </p>
            </div>
        </section>
    </main>
    <footer>
        <p>© 2018 Hypothetical Burgers Inc.</p>
    </footer>
</body>

</html>