<!DOCTYPE html>
<html lang="en">

<head>
    <title>Hamburger Delivery</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" type="text/css" href="../public/css/style.css"> <!-- for VSC preview plugin -->
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <script defer type="text/javascript" src="https://vuejs.org/js/vue.js"></script>
    <script defer type="text/javascript" src="../public/js/js_script.js"></script> <!-- for VSC preview plugin -->
    <script defer type="text/javascript" src="../public/js/vue_script.js"></script> <!-- for VSC preview plugin -->
    <script defer type="text/javascript" src="js/vue_script.js"></script>
    <script defer type="text/javascript" src="js/js_script.js"></script>
</head>

<body>
    <header>
        <h1>Welcome to BurgerHeaven Online</h1>
    </header>
    <main>
        <section id="burger_menu">
            <h3>Select burger</h3>
            <p>This is where you execute burger selection</p>
            <div class="grid_table center">
                <div v-for="b in burgers" class="cell">
                    <h4>{{b.name}}</h4>
                    <img :src="b.image" :alt="b.name" :title="b.name" height="125px">
                    <ul>
                        <li>{{b.kCal}} kCal</li>
                        <li v-if="b.hasLactose == true">Contains <b>lactose</b></li>
                        <li v-if="b.hasGluten == true">Contains <b>gluten</b></li>
                    </ul>
                </div>
            </div>
        </section>
        <section id="purchase">
            <h3>Customer Information</h3>
            <p>This is where you provide the necessary information</p>
            <h4>Delivery information:</h4>
            <form id="delivery_form">
                <p>
                    <label for="name">First</label><br>
                    <input type="text" id="name" name="nm" required="required" placeholder="First- and Last name">
                </p>
                <p>
                    <label for="email">E-mail</label><br>
                    <input type="email" id="email" name="em" required="required" placeholder="E-mail address">
                </p>
                <p>
                    <label for="street">Street</label><br>
                    <input type="text" id="street" name="st" placeholder="Street name">
                </p>
                <p>
                    <label for="house">House</label><br>
                    <input type="number" id="house" name="ho" placeholder="House number">
                </p>
                <p>
                    <label for="payment_options">Payment options</label><br>
                    <select id="payment_options" name="popt">
                        <option selected="selected">Credit Card</option>
                        <option>Paypal</option>
                        <option>Swish</option>
                        <option>Cash</option>
                    </select>
                </p>
                <p>
                    <label for="gender">Gender</label><br>
                    <input type="radio" name="gender">Male<br>
                    <input type="radio" name="gender">Female<br>
                    <input type="radio" name="gender">Non-binary<br>
                    <input type="radio" name="gender" checked="checked">Undisclosed<br>
                </p>
        </section>
        </form>
        <button type="submit" form="delivery_form"><img src="https://static.thenounproject.com/png/1406661-200.png" alt=""
                style="height: 1.2rem;">
            Place my order!</button>
    </main>
    <footer>
        <p>© 2018 Hypothetical Burgers Inc.</p>
    </footer>
</body>

</html>